:root {
    --cor-principal: #00CED1;
    --cor-principal-escura: #008B8B;
    --branco: #fff;
    --preto: #000;
    --cor-fundo: #1C1C1C;
    --cor-fundo-claro: #363636;
}

body {
    font-family: 'Oswald';
    margin: 0;
    padding: 0;
    background-color: var(--cor-fundo);
}

header {
    display: flex;
    justify-content: center;
    height: 5rem;
}

.logo h1 {
    color: #fff;
    font-size: 3rem;
}

.logo span {
    color: var(--cor-principal);
}

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.principal__texto h4 {
    color: var(--branco);
    font-weight: normal;
}

.principal__texto h2 {
    color: var(--branco);
    font-size: 2.5rem;
    line-height: 3rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.principal__texto___botao {
    display: flex;
    background-color: var(--cor-principal);
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    color: var(--preto);
    font-size: 1.3rem;
    border-radius: 5px;
    justify-content: center;
}

.principal__texto___botao:hover {
    background-color: #00FF7F;
    transition: all .8s;
}

.principal__imagem___amigos {
    width: 500px;
    height: auto;
    margin-top: 2rem;
    margin-left: 5rem;
    border-radius: 10%;
}

/*seção de cards*/

.section-cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.section-cards__titulo {
    color: var(--branco);
    font-weight: normal;
    font-size: 3rem;
    margin-bottom: -1.2rem;
}

.section-cards__assunto {
    display: flex;
    margin-top: 2rem;
    flex-direction: row;
    width: 60%;
    height: 200px;
    align-items: center;
    justify-content: space-around;
}

.section-cards__assunto p {
    font-size: 1.4rem;
    margin-top: 1.6rem;
    cursor: default;
}


.section-cards__assunto i, p {
    color: var(--branco);
}

.section-cards__assunto___viagem {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 3rem;
    background-color: var(--cor-fundo-claro);
    border-radius: 10px;
}

.section-cards__assunto___viagem:hover, .section-cards__assunto___festa:hover, 
.section-cards__assunto___estudos:hover  {
    background-color: var(--cor-principal);
    transition: all .8s;
}

.section-cards__assunto___festa {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 3rem;
    background-color: var(--cor-fundo-claro);
    border-radius: 10px;
}

.section-cards__assunto___estudos {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 3rem;
    background-color: var(--cor-fundo-claro);
    border-radius: 10px;
}

/*sobre quem somos*/

.sobre {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--cor-principal-escura);
}

.sobre__texto {
    width: 40%;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5;
}

.sobre__texto___titulo {
    color: var(--branco);
    font-size: 3rem;
    margin-bottom: 2rem;
}

.sobre__texto___botao {
    display: inline-block;
    background-color: #DCDCDC;
    padding: 15px 60px;
    margin-top: .5rem;
    text-align: center;
    text-decoration: none;
    color: var(--cor-fundo-claro);
    font-size: 1.3rem;
    border-radius: 5px;
    justify-content: center;
}

.sobre__texto___botao:hover {
    background-color: #00FF7F;
    transition: all .8s;
}

.sobre__imagem___amigos {
    width: 350px;
    height: auto;
    padding: 1rem;
}

/*Área de contato*/

.contato {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 400px;
}

.contato__titulo {
    color: #fff;
    font-weight: normal;
    font-size: 2.6rem;
    padding: 1rem;
}

.contato__formulario {
    width: 20rem;
    height: 10rem;
}

.contato__formulario___form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    justify-content: space-around;
}

.contato__formulario___form-input {
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

.contato__formulario___form-botao {
    height: 50px;
    background-color: var(--cor-principal-escura);
    color: #fff;
    font-size: 1.3rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.contato__formulario___form-botao:hover {
    background-color: #00FF7F;
    color: #000;
    transition: all .8s;
}

.rodape {
    height: 3rem;
    background-color: var(--cor-principal);
}

.rodape__descricao {
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: default;
}

/*responsivo*/

@media screen and (max-width: 738px) {
    
}

@media screen and (max-width: 753px) {

    .section-cards {
        display: flex;
        justify-content: flex-start;
        height: 700px;
    }

    .section-cards__titulo {
        font-size: 1.4;
    }

    .section-cards__assunto {
       display: flex;
       flex-direction: column;
       margin-top: 100px;
       height: 600px;
       width: 80%;
       margin-top: 2rem;
    }

    .section-cards__assunto___viagem {
        width: 100%;
    }

    .section-cards__assunto___festa {
        width: 100%;
    }

    .section-cards__assunto___estudos {
        width: 100%;
    }

    .sobre {
        display: flex;
        flex-direction: column;
    }

    .sobre__texto {
        width: 80vw
    }

    .sobre__imagem {
        display: flex;
        justify-content: center;
        width: 80%;
    }

    .sobre__imagem .sobre__imagem___amigos {
        width: 30%;
        height: 200px;   
    }
}

@media screen and (max-width: 882px) {
    .principal {
        flex-direction: column-reverse;
        padding: 200px;
    }

    .principal__texto {
        width: 600px;
    }

    .principal__texto h2 {
        font-size: 3rem;
        margin-bottom: 7rem;
    }

    .principal__texto h4 {
        font-size: 1.4rem;
    }

    .principal__imagem .principal__imagem___amigos {
        width: 600px;
        padding-right: 4rem;
        border-radius: 0;
    }

}

@media screen and (max-width: 911px) {
    .principal {
        width: auto;
        height: 250px;
    }

    .principal__texto___botao {
        margin-top: -3rem;
        padding: 10px 50px;
    }

     .principal__imagem___amigos {
        width: 400px;
    }

    .sobre__texto___botao {
        display: none;
    }
}

@media screen and (max-width: 1280px) {
    .section-cards__titulo{
        font-size: 2.3rem;
    }

   .sobre__texto___titulo {
    font-size: 2.3rem;
   }

   .sobre__texto {
       font-size: 1.2rem;
   }

   .sobre__texto___botao{
       padding: 5px 20px;
       font-size: 1rem;
   }

   .sobre__imagem___amigos {
       width: 280px;
   }

   .contato__titulo {
       font-size: 2rem;
   }
}